.wrapper-forecast {
	display: flex;
	text-align: center; 
	justify-content: space-evenly;
	margin-top: 10px;
}

.wrapper-forecast>div {
	min-width: 90px;
	line-height: 1;
	padding: 5px;
}

.pollen {
	padding-top: 2px;
	font-size: 13px;
}