* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	width: 100%;
	min-height: auto;
}

.login-wrapper {
	transform: translate(-50%, -50%);
	position: absolute; 
	top: 50%; 
	left: 50%;
	border: 1px solid black;
	min-width: 250px;
}

.login {
	padding: 22px 32px;
	width: 100%;
	position: relative;
	background: #ffffff61;
}

.input-wrapper {
	margin-bottom: 10px;
}

.email {
	display: block;
	width: 100%;
	margin-bottom: 1px;
}

.password {
	display: block;
	width: 100%;
	margin-top: 1px;
}

.regbut {
	display: block;
	border-radius: 10px;
	width: 100%;
}

.login-form {
	text-align: right;
}

.close {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	position: absolute;
	top: -1px;
	right: -1px;
}

.close-icon {
	width: 100%;
	height: 100%;
	position: relative;
}

.close-icon:after, .close-icon:before {
content: "";
	display: block;
	width: 16px;
	height: 1px;
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
}

.close-icon:after {
	transform: rotate(45deg);
}

.close-icon:before {
	transform: rotate(-45deg);
}

.close-icon:hover {
	cursor: pointer;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #b5deb4;	
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  height: auto;
  min-height: 100%;
}

.header {
    background-color: lightblue;
    height: 60px;
	padding: 2px;
	border-width: 0px;

}

.logo {
	display: inline-block;
	position: absolute;
	top: 6px;
	left: 0px;
	padding: 1px;
}

.logos-search {
	display: inline-block;
	position: relative;
	float: right;
	width: 200px;
	min-height: 100%;
}

.login-logo {
	display: inline-block;
	position: absolute;
	right: 0px;
	padding: 1px;
	margin: auto 1px;
	border: 1px solid black;
	border-radius: 5px;
}

.basket {
	display: inline-block;
	position: absolute;
	right: 54px;
	padding: 1px;
	margin: auto 1px;
	border: 1px solid black;
	border-radius: 5px;
}

.search-wrapper {
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 15px;
	width: 200px;
	right: 105px;
	margin-right: 5px;
	border: 1px;
}

.search-form {
	display: inline-block;
	height: 30px;
	width: 200px;
	margin: 0px auto;
}

.search-input {
	display: block;
	width: 100%;
	height: 20px;
	padding: 0px 20px;
	margin-top: 5px;
	border-radius: 10px;
	background: url("assets/search.png") no-repeat 2px;
	background-size: 15px;
}

.categories {
	position: relative;
	height: 100%;
	max-width: 992px;
	margin: 0 auto;
	padding: 50px ;
	overflow: hidden;
}

.cat {
	display: inline-block;
	padding: 15px;
	width: 220px;
	margin-top: 5px;
	background: #b5deb4;

}

.cat:hover {
	background:#71b7a4;
	transition-timing-function: ease-out;
	transition-duration: 1s;

}

.cat img {
	border: 1px solid black;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
}

.cat:hover {
	cursor: pointer;
}



.name-cat {
	margin: 5px;
	width: auto;
	text-align: center;
}

span.counter {
	margin-left: 5px;
}

.footer {
    background-color: lightblue;
    position: relative;
    height:50px;
    clear: both;
    overflow: auto;
}

.copyright-logo {
	display: inline-block;
	position: absolute;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	transform: translate(-50%);
}

.C-logo {
	width: 100%;
}

.products-content {
 	background: #aee0ad; 
	min-height: 100%;
}

.products-nav {
	width: 20%;
	min-height: 100%;
	float: left;
}

.products {
	width: 80%;
	min-height: 100%;
	float: left;
	background: #b5deb4;
	padding: 20px 133px;
}

.products-nav img {
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px 10px 0 0;
}

.products-nav li {
	padding-left: 10px;
	border-bottom: 1px solid #fff;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin: 10px;
	padding: 5px;
}

.products-nav a {
	display: block;
	width: 100%;	
	height: 40px;
}

.products-nav span {
	line-height: 40px;
}

.products ul, .products-lw ul {
	clear: right;
}

.products img {
	height: auto;
	width: 120px;
}

.products li {
	display:inline-block;
	border: 1px solid black;
	border-radius: 5px;
}

.products a { 	
	display: block;
}

h5 {
	margin: 0;
}

.list-view, .grid-view {
	float: right; 
}

.all-categories {
	text-align: right;
}

.products-lw {
	display: block;
	width: 80%;
	min-height: 100%;
	float: left;
	background: #b5deb4;
	padding: 20px 133px;
}

.products-lw li {
    margin-bottom: 10px;
    padding: 15px 20px 10px;
}


.products-lw img {
	display: block;
	height: auto;
	max-width: 100%;

}

.products-lw h5, span {
	display: inline-block;
	width: 120px;
	font-size: 16px;
	vertical-align: top;
}

.products-lw a {
	display: inline-block; 
	width: 120px;
	font-size: 16px;
	vertical-align: top;
}

.products-lw p {
	margin: 5px 0;
}

.products-lw span {
	color: red;
}

.product-description {
	float: left;
	width: 80%;

}

.product-img-wrapper {
	width: 100px;
	float: left;
	margin-right: 10px;
}

.product-description button {
	border-radius: 10px;
	padding: 5px 10px;
	border: 1px solid black;
	transition: 1s ease;
}

button:hover {
	background: black;
	color: white;
}

.product-description span {
	width: auto;
	padding-left: 2px;
	border: 1px solid black;
	border-radius: 5px;
	background: yellow;
	animation-name: example;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes example {
	from {background: yellow; color: red;}
	to {background: red; color: yellow;}
}

.cat img:hover {
	animation-name: example-2;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes example-2 {
	from {background: #aee0ad; width: 100%;}
	to {background: #77e074; width: 90%;}